.signup-container{
  background-image: url("./createaccountbg.jpeg");
  height: 100vh;
  width: 100vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  float: left;
}

.signup-box {
  margin-top: 20vh;
  margin-right: 150px;
  border-radius: 10px;
  background-color: #262228;
  width: 400px;
  float:right;
}

.texts {
  color: white;
  margin-left: 25px;
  float: left;
  margin-top: 200px;
}

.text2 {
  float:left;
}
