#course-container {
  height: 100vh;
  width: 100vw;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*float: left;*/
  overflow-y: auto;
  padding: 0;
}

#button-options {
  text-align: center;
}

#addchapter-button {
  display: inline;
  margin-left: 120px;
  margin-top: 5px;
  font-size: 25px;
  background: none;
  border: none;
}

#addchapter-text {
  margin-left: 10px;
  color: #868686;
}

#addchapter-text:hover {
  color: #407dc6;
}

#add-to-course-button {
  color: #1db954;
  background: none;
  border: none;
  float: right;
  margin-top: -5px;
}

#course-chapter-list {
  margin-top: 25px;
  width: 77.5%;
  min-height: 58vh;
  margin-left: 40px;
  border: thin solid #DDDDDD;
  overflow: auto;
  border-radius: 5px;
}

#del-chapter-button {
  float: right;
  margin-right: 5px;
  color: #Bf3309;
  background: none;
  border: none;
  font-weight: bold;
  font-size: 16px;
  margin-top: -7px;
}

.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
