#prof-container {
  height: 100vh;
  width: 100vw;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*float: left;*/
  overflow-y: auto;
  padding: 0;
}

#nav-container {
  margin-left: 220px;
  text-align: center;
  height: 100px;
  width: 77%;
  overflow: visible;
}

#workbench-home-container {
  margin-left: 200px;
  margin-top: 10px;
  width: 80%;
  min-height: 68vh;
  text-align: center;
  border: thin solid #DDDDDD;
  border-radius: 5px;
}

#add-button {
  border-color: white;
  margin-top: 20px;
}


#in-progress {
  float: left;
  height:100%;
  width:46%;
}

#published {
  float: left;
  margin-left: 2%;
  height:100%;
  width:46%;
}

#add-button:hover {
  background-color: white;
}

#add-button:focus {
  outline: none !important;
  background-color: white;
}

.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.dropdown-menu {
  margin-left: 350px !important;
  margin-top: 0px !important;
}
