#prof-container {
  height: 100vh;
  width: 100vw;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*float: left;*/
  overflow-y: auto;
  padding: 0;
}
#workbench-home-container {
  margin-left: 170px;
  position: fixed;
  display: block;
  z-index: 300;
  width: 100%;
  text-align: center;
}
#chapters {
  margin-top: 25px;
  margin-left: 5%;
  height: 33vw;
  width:75vw;
  background-color: red;
}
#in-progress {
  float: left;
  height:100%;
  width:48%;
  background-color: blue;
  margin-right: 4%;
}

#published {
  float: left;
  height:100%;
  width:48%;
  background-color: yellow;
}

#courses {
  margin-top: 25px;
  margin-left: 5%;
  height: 33vw;
  width:75vw;
  background-color: green;
}
