.class-container{
	height: 100%;
	width: 25%;
	margin: 32vh 0;
	background: #FFFFFF;
	box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.50);
	border-radius: 5px;
	float: left;
	margin-right: 5%;
}

h2 {
	text-align: center;
    padding: 5% 1%;
}

.chapter {
	margin: 20px 15px;
}

hr {
	width: 80%;
}
