#librarybar-container {
  margin-top: 51px;
  position: fixed;
  display: block;
  z-index: 300;
  width: 100%;
  min-width: 1130px;
  overflow: auto;
}

#library-menu {
  width: 30%;
  width: 310px;
  border-right: thin solid #B0B0B0;
  height: 100vh;
  float: left;
}

#course-display {
  margin-left: 28%;
  width: 70%;
  min-height: 80%;
  display: flex;
}

#folder-display {
  margin-left: 28%;
  width: 70%;
  min-height: 80%;
  display: flex;
}

#library-head {
  background-color: #262228;
  color: #F8F8F8;
  height: 28px;
  padding: 1px;
}

.Collapsible__contentOuter {
  max-height: 450px !important;
}

.Collapsible__trigger {
  display: block;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  color: #333333;
  position: relative;
  border: 1px solid white;
  padding: 10px;
  background: #1db954;
  color: #F8F8F8; }
  .Collapsible__trigger:after {
    content: url('./arrow-204-16.png');
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 100ms; }
  .Collapsible__trigger.is-open:after {
    transform: rotateZ(180deg);
    top:5px;
  }

  .list-group-item {
    border-left: none !important;
    border-right: none !important;
    border-radius: 0px !important;
  }


#addFolderBtn {
  border-color: white;
  margin-bottom: 15px;
}

#addFolderBtn:hover {
  background-color: white;
}

#addFolderBtn:focus {
  outline: none !important;
}

#none-tag {
  font-family: "Avenir Next";
  font-size: 10px;
  padding: 5px;
}

#chapter-list {
  height: 80%;
}

h4 {
  font-size: 16px !important;
  display: inline;
  margin-right: 5px;
}
h5 {
  font-size: 13px !important;
  display: inline;
  margin-left: 10px;
}
#chapter-menu {
  background: transparent;
  border: none;
  color: #1db954;
  font-size: 20px;
}
#library-nav {
  font-size: 11px;
}
