.student-container{
  height: 100vh;
  width: 100vw;
  background-color: #231f25;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  float: left;
  overflow: hidden;
}

#courses {
  position: absolute;
  margin-left: 200px;
  margin-top: 90px;
  width: 300px;
}

.modal-button: {
  width: 250px;
  border-radius: 5px;
}
