.student-container{
  height: 100vh;
  width: 100vw;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*float: left;*/
  min-height: 560px;
  overflow-y: auto;
  padding: 0;
}

#courses {
  position: absolute;
  margin-left: 200px;
  margin-top: 90px;
  width: 300px;
}

.modal-button: {
  width: 250px;
  border-radius: 5px;
}

.list-group-item:hover{
  background-color: white !important;
}
.list-group-item:focus{
  background-color: white !important;
  outline: none !important;
}
