  #sidebar-container {
    min-height: 100%;
    width: 170px;
    background-color: #F8F8F8;
    padding: 10px;
    border-right: thin solid #B0B0B0;
    float: left;
  }

  #sidebar-menu {
    margin-left: 8px;
    float: left;
  }

  #pref-container {
    margin-top: 100%;
    text-align: center;
  }

  #menu-button {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: #1db954;
    padding:1px;
    margin-top: 10px;
    float:left;
    margin-left: 5px;
  }

  #menu-button:hover {
    color: #1db954;
  }

  #menu-icon {
    font-size: 20px;
  }

  #menu-title {
    font-size: 12px;
    float:left;
    margin-left: 10px;
  }
  #logo {
    font-size: 45px;
    text-align: center;
    color: #1db954;
  }
